body {
  background-color: rgba(0, 0, 0, 0.829);
  margin: 0%;
  padding: 0%; 
}

header { 
  height: 60px;
  width: 100%;
  background-color: rgba(125, 251, 0, 0.561);
}

.navLinks {
  padding: 15px 30px;
  width: auto;
  float: left;
  margin-top: 8px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navLinks:hover {
  color: black;
}

.gameListContainer {
  column-count: 3;
  column-gap: 50px;
}

.gameList {
  column-count: 1;
  break-after:column;
}

.gameListHeader {
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  border-style: solid;
  border-radius: 5px;
  color: white;
  background-color: rgba(125, 251, 0, 0.561);
  border-color: black;
  word-wrap: break-word;
}

.switchButton {
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  width: 80%;
  border-style: solid;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(125, 251, 0, 0.561);
  cursor: pointer;
  word-wrap: break-word;
}


.switchButton:active {
  transition: 0s;
  background-color: black;
}

.deleteButton {
  width: auto;
  margin-bottom: 10px;
  padding: 1px 1px;
  float: right;
  border-style: solid;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(125, 251, 0, 0.561);
  cursor: pointer;
}

.deleteButton:active {
  transition: 0s;
  background-color: black;
}

.cards {
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  text-align: center;
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(125, 251, 0, 0.561);
  color:white;
  background-color: rgba(49, 92, 6, 0.561);
}

.gameListCard {
  text-align: center;
  margin-bottom: 20px;
  grid-template-rows: max-content 200px 1fr;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(125, 251, 0, 0.561);
  color:white;
  background-color: rgba(125, 251, 0, 0.561);
}

.gameListCardTitle {
  text-align: center;
  clear:right;
}

.gameListCardImage {
  text-align: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card img {
  text-align: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.consoles {
  margin:3px;
}

#search {
  padding: 10px;
  text-align: center;
}

#searchBar {
  padding: 10px 40px;
  margin: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(125, 251, 0, 0.561);
  font-size: large;
}

#loadGames {
  padding: 10px;
  text-align: center;
}

#loadGamesButton {
  padding: 10px 20px;
  margin: 10px;
  border-style: solid;
  border-radius: 5px;
  color: white;
  background-color: rgba(125, 251, 0, 0.561);
  border-color: black;
  cursor: pointer;
}

#loadGamesButton:active {
  transition: 0s;
  background-color: black;
}

#logo {
  padding: 15px 30px;
  width: auto;
  margin-top: 8px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: white;
  float: right;
}

#homeContainer {
  margin-left: 25%;
  margin-top: 5%;
  width: 60%;
}

#homeHead {
  font-size: 70px;
}

#appDescribe {
  font-size: 20px;
  width: 80%;
  margin:auto;
  line-height: 1.5;
}

.column {
  float: left;
  width: 40%;
  padding: 0 10px;
  margin:3.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

/* Style the counter cards */
.card {
  padding: 10px;
  text-align: center;
  background-color: rgba(125, 251, 0, 0.561);
  overflow-x: auto;
}

i {
  font-size: 55px;
  margin-bottom: 5px;
}

hr {
  border: 1px dashed;
}

.cardDetails {
  overflow-x: auto;
  margin-bottom: 10px;
}

.cardRelease {
  margin-bottom: 10px;
  padding: 0;
}

.selectBox {
  background-color: rgba(0, 0, 0, 0.829);
  color : white;
  cursor: pointer;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(125, 251, 0, 0.561);
}

.seeDetails {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  width: 50%;
  height: 30px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  background-color: gray;
  cursor: pointer;
  word-wrap: break-word;
}

.seeDetails:active {
  transition: 0s;
  background-color: black;
  color: white;
}

.gameListSeeDetails {
  position: relative;
  right: 12.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
  width: 50%;
  height: auto;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  background-color: gray;
  cursor: pointer;
  word-wrap: break-word;
}

.gameListSeeDetails:active {
  transition: 0s;
  background-color: black;
  color: white;
}

#gameListSelect {

  margin-left: 25%;
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

#gameListCard {
  margin-inline-end: 219123123px;
}